<head>
  <script
    src="https://code.jquery.com/jquery-3.6.3.js"
    integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
    crossorigin="anonymous"
  ></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<%- include('../partials/user_header.ejs') %>

<main>
  <div class="slider-area">
    <div class="single-slider slider-height2 d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="hero-cap text-center">
              <h2>Cart List</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="cart_area section_padding">
    <div class="container">
      <div class="cart_inner">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <%user.cart.items.forEach(function(pro,count) {%> <%
              if(user.cart.items===null||user.cart.items.length===0){ %>
              <div class="row g-0 justify-content-center">
                <div class="col-lg-8">
                  <div class="d-flex justify-content-around align-items-center">
                    <h1>Empty</h1>
                  </div>
                </div>
              </div>

              <% }else{ %>
              <tr>
                <td>
                  <div class="media">
                    <div class="d-flex">
                      <img
                        src="<%=pro.productId.img %> "
                        width="150px"
                        height="auto"
                        alt=""
                      />
                    </div>
                    <div class="media-body">
                      <p>
                        <%= pro.productId.mfg%> <%= pro.productId.name%> <br />
                        <%= pro.productId.description %>
                      </p>
                    </div>
                  </div>
                </td>
                <td>
                  <h5>₹<%= pro.productId.price%></h5>
                </td>
                <td>
                  <div class="product_count">
                    <button
                      onclick="changeQuantity('<%=pro.productId._id%>','-1')"
                      class=""
                      style="color: black"
                    >
                      -
                    </button>

                    <input
                      style="height: 40px; width: 50px"
                      class="input-number"
                      value="<%= pro.qty%>"
                      id="<%=pro.productId._id%>"
                    />
                    <button
                      onclick="changeQuantity('<%=pro.productId._id%>','+1')"
                      style="color: black"
                      class=""
                    >
                      +
                    </button>
                    <i class="lnr lnr-chevron-up"></i>
                  </div>
                </td>

                <td>
                  <a
                    onclick="return confirm ('Are you sure?')"
                    class="btn_1"
                    href="/deletecart/<%=pro.productId._id%>"
                    >Remove
                  </a>
                </td>
                <%} }); %>
              </tr>
              <tr class="bottom_button">
                <td>
                  <a class="btn_1" href="/shop">Update Cart</a>
                </td>
                <td></td>
                <td></td>
                <td>
                  <div class="cupon_text float-right">
                    <a class="btn_1" href="/wishlist">Wishlist</a>
                  </div>
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>
                  <h5>Subtotal</h5>
                </td>
                <td>
                  <h5><%= user.cart.totalPrice %></h5>
                </td>
              </tr>
              <tr class="shipping_area"></tr>
            </tbody>
          </table>
          <div class="checkout_btn_inner float-right">
            <a class="btn_1" href="/shop">Continue Shopping</a>
            <a class="btn_1 checkout_btn_1" href="/checkout/"
              >Proceed to checkout</a
            >
          </div>
        </div>
      </div>

      <div class="search-model-box">
        <div class="h-100 d-flex align-items-center justify-content-center">
          <div class="search-close-btn">+</div>
          <form class="search-model-form">
            <input
              type="text"
              id="search-input"
              placeholder="Searching key....."
            />
          </form>
        </div>
      </div>
    </div>
  </section>
</main>

<%- include('../partials/footer.ejs') %>

<script
  src="https://code.jquery.com/jquery-3.6.3.js"
  integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
  crossorigin="anonymous"
></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<script>
  function changeQuantity(proId, cnt) {
    let quantity = document.getElementById(proId).value;
    quantity = parseInt(quantity);

    let cont = parseInt(cnt);
    $.ajax({
      url: "/changeQty",
      method: "POST",
      data: {
        productId: proId,
        quantys: quantity,
        count: cont,
      },
      success: (response) => {
        if (response.access) {
          if (response.stock) {
            const Toast = Swal.mixin({
              toast: true,
              position: "top-end",
              showConfirmButton: false,
              timer: 3000,
              timerProgressBar: true,
              didOpen: (toast) => {
                toast.addEventListener("mouseenter", Swal.stopTimer);
                toast.addEventListener("mouseleave", Swal.resumeTimer);
              },
            });

            Toast.fire({
              icon: "error",
              title: "Out Of Stock!!",
            });
            return;
          }
          if (response.remove) {
            Swal.fire("Deleted!", "Your item has been deleted.", "success");
            setTimeout(() => location.reload(), 2000);
          } else {
            document.getElementById(proId).value = response.status;
            document.getElementById("total").innerHTML = response.total;
          }
        }
        //       } else {
        //         Swal.fire({
        //           title: "Please Login!!",
        //           width: 600,
        //           padding: "3em",
        //           color: "#716add",
        //           background:
        //             "#fff url(https://cdn.dribbble.com/users/289158/screenshots/17424235/media/cbb5c66fa688ad46ea08f5f817d37a98.jpg?compress=1&resize=400x300&vertical=top)",
        //           backdrop: `
        //   rgba(0,0,123,0.4)
        //   url()
        //   left top
        //   no-repeat
        // `,
        //         });
        //       }
      },
    });
  }
  let clicked = false;
</script>
