<%- include('../partials/user_header.ejs') %>

<main>
  <div class="slider-area">
    <div class="single-slider slider-height2 d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="hero-cap text-center">
              <h2>Cart List</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="cart_area section_padding">
    <div class="container">
      <div class="cart_inner">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <%user.cart.items.forEach(function(pro,count) {%> <%
              if(user.cart.items===null||user.cart.items.length===0){ %>
              <div class="row g-0 justify-content-center">
                <div class="col-lg-8">
                  <div class="d-flex justify-content-around align-items-center">
                   
                    <h1>Empty</h1>
                  </div>
                </div>
              </div>

              <% }else{ %>
              <tr>
                <td>
                  <div class="media">
                    <div class="d-flex">
                      <img
                        src="<%=pro.productId.img %> "
                        width="150px"
                        height="auto"
                        alt=""
                      />
                    </div>
                    <div class="media-body">
                      <p>
                        <%= pro.productId.mfg%> <%= pro.productId.name%> <br />
                        <%= pro.productId.description %>
                      </p>
                    </div>
                  </div>
                </td>
                <td>
                  <h5>₹<%= pro.productId.price%></h5>
                </td>
                <td>
                  <div class="product_count">
                    <button
                      onclick="changeQuantity('<%=pro.productId._id%>','-1')"
                      class=""
                      style="color: black"
                    >
                      -
                    </button>

                    <input
                      style="height: 40px; width: 50px"
                      class="input-number"
                      value="<%= pro.qty%>"
                      id="<%=pro.productId._id%>"
                    />
                    <button
                      onclick="changeQuantity('<%=pro.productId._id%>','+1')"
                      style="color: black"
                      class=""
                    >
                      +
                    </button>
                  </div>
                </td>

                <td>
                  <a
                    onclick="return confirm ('Are you sure?')"
                    class="btn_1"
                    href="/deletecart/<%=pro.productId._id%>"
                    >Remove</a>
                  
                </td>
                <%} }); %>
              </tr>
              <tr class="bottom_button">
                <td>
                  <a class="btn_1" href="/shop">Update Cart</a>
                </td>
                <td></td>
                <td></td>
                <td>
                  <div class="cupon_text float-right">
                    <a class="btn_1" href="/wishlist">Wishlist</a>
                  </div>
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>
                  <h5>Subtotal</h5>
                </td>
                <td>
                  <h5><%= user.cart.totalPrice %></h5>
                </td>
              </tr>
              <tr class="shipping_area"></tr>
            </tbody>
          </table>
          <div class="checkout_btn_inner float-right">
            <a class="btn_1" href="/shop">Continue Shopping</a>
            <a class="btn_1 checkout_btn_1" href="/checkout/"
              >Proceed to checkout</a>
            
          </div>
        </div>
      </div>

      <div class="search-model-box">
        <div class="h-100 d-flex align-items-center justify-content-center">
          <div class="search-close-btn">+</div>
          <form class="search-model-form">
            <input
              type="text"
              id="search-input"
              placeholder="Searching key....."
            />
          </form>
        </div>
      </div>
    </div>
  </section>
</main>

<script>
  function changeQuantity(proId, cnt) {
    console.log("chage qty running..........................");
    let quantity = document.getElementById(proId).value;
    console.log(quantity);
    quantity = parseInt(quantity);
    let cont = parseInt(cnt);

    $.ajax({
      url: "/changeQuantity",
      method: "POST",
      dataType: "application/json",
      encode: true,
      data: {
        productId: proId,
        qty: quantity,
        count: cont,
      },
      success: () => {},
    });
  }
</script>

<%- include('../partials/footer.ejs') %>
