<%- include('../partials/user_header.ejs') %>

<main>
  <div class="slider-area">
    <div class="single-slider slider-height2 d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="hero-cap text-center">
              <h2>Cart List</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="cart_area section_padding">
    <div class="container">
      <div class="cart_inner">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">  </th>

              </tr>
            </thead>
            <tbody>
            

              <%user.cart.items.forEach(function(pro) {%>

              <tr>
                <td>
                  <div class="media">
                    <div class="d-flex">
                      <img src="<%=pro.productId.img %> "  width="150px" height="auto" alt="" />
                    </div>
                    <div class="media-body">
                      <p><%= pro.productId.mfg%> <%= pro.productId.name%> <br> <%= pro.productId.description %> </p>
                    </div>
                  </div>
                </td>
                <td>
                  <h5>₹<%= pro.productId.price%></h5>
                </td>
                <td>
                  <div class="product_count">
                    <span class="input-number-decrement">
                      <i class="ti-minus"></i
                    ></span>
                    <input
                      class="input-number"
                      type="text"
                      value="<%= pro.qty%>"
                      min="1"
                      
                    />
                    <button class="ti-angle-down"></button>
                    
                </td>
                <td>
                    <a class="btn_1" href="/deletecart/<%=pro.productId._id%>">Remove</a>
                </td>
              <% }); %>  
              </tr>
              <tr class="bottom_button">
                <td>
                  <a class="btn_1" href="/shop">Update Cart</a>
                </td>
                <td></td>
                <td></td>
                <td>
                  <div class="cupon_text float-right">
                    <a class="btn_1" href="#">Close Coupon</a>
                  </div>
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>
                  <h5>Subtotal</h5>
                </td>
                <td>
                  <h5><%= user.cart.totalPrice %> </h5>
                </td>
              </tr>
              <tr class="shipping_area">
                <td></td>
                <td></td>
                <!-- <td>
<h5>Shipping</h5>
</td> -->
                <td>
                  <div class="shipping_box">
                    <ul class="list">
                      <li>
                        Flat Rate: $5.00
                        <input
                          type="radio"
                          aria-label="Radio button for following text input"
                        />
                      </li>
                      <li>
                        Free Shipping
                        <input
                          type="radio"
                          aria-label="Radio button for following text input"
                        />
                      </li>
                      <li>
                        Flat Rate: $10.00
                        <input
                          type="radio"
                          aria-label="Radio button for following text input"
                        />
                      </li>
                      <li class="active">
                        Local Delivery: $2.00
                        <input
                          type="radio"
                          aria-label="Radio button for following text input"
                        />
                      </li>
                    </ul>
                  
                    <select class="shipping_select">
                      <option value="1">Bangladesh</option>
                      <option value="2">India</option>
                      <option value="4">Pakistan</option>
                    </select>
                    <select class="shipping_select section_bg">
                      <option value="1">Select a State</option>
                      <option value="2">Select a State</option>
                      <option value="4">Select a State</option>
                    </select>
                    <input
                      class="post_code"
                      type="text"
                      placeholder="Postcode/Zipcode"
                    />
                    <a class="btn_1" href="#">Update Details</a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="checkout_btn_inner float-right">
            <a class="btn_1" href="/shop">Continue Shopping</a>
            <a class="btn_1 checkout_btn_1" href="#">Proceed to checkout</a>
          </div>
        </div>
      </div>

      <div class="search-model-box">
        <div class="h-100 d-flex align-items-center justify-content-center">
          <div class="search-close-btn">+</div>
          <form class="search-model-form">
            <input
              type="text"
              id="search-input"
              placeholder="Searching key....."
            />
          </form>
        </div>
      </div>

    </div>
  </section>
</main>


<script>
function changeQuantity(proId,cnt) {
  let quantity = document.getElementById(proId).value 
  console.log(quantity);
  quantity=parseInt(quantity)
  let cont= parseInt(cnt)
}
$.ajax({
  url:'',
  method:'POST',
  data:{
    productId:proId,
    qty:quantity,
    count:cont
  }
})
</script>



<%- include('../partials/user_footer.ejs') %>
