<%- include('../partials/user_header.ejs') %>

<div class="slider-area">
  <div class="single-slider slider-height2 d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="hero-cap text-center">
            <h2>Checkout</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="checkout_area section_padding">
  <div class="container">
    <div class="cupon_area">
      <div class="check_title">
        <h2>
          Have a coupon?
          <a href="#">Click here to enter your code</a>
        </h2>
      </div>
      <input type="text" placeholder="Enter coupon code" />
      <a class="tp_btn" href="#">Apply Coupon</a>
    </div>
    <div class="billing_details">
      <div class="row">
        <div class="col-lg-8">
          <h3>Billing Details</h3>

          <% add.address.forEach(function(el) { %>

          <div style="padding-left: 30px; padding-top: 10px" class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-9">
                  <input type="radio" id="f-option" name="selector" />

                  <p class="text-muted mb-0">
                    <%=el.fName%> ,<%=el.lName%>, <%=el.mob%>, <%=el.house%>,
                    <%=el.landmark%> ,<%=el.city%>, <%=el.state%>,
                    <%=el.district%>, <%=el.pincode%>
                  </p>
                </div>
                <hr />
              </div>
            </div>
          </div>

          <% }) %>
          
          <a
          class="btn_1"
          href="/addAddress/"
          >ADD ADDRESS</a>

        </div>

        <div class="col-lg-4">
          <div class="order_box">
            <h2>Your Order</h2>
            <ul class="list">
              <li>
                <a href="#"
                  >Product
                  <span>Total</span>
                </a>
              </li>
              <%user.cart.items.forEach(function(pro,count) {%>

              <li>
                <a href="#"
                  ><%= pro.productId.name%>
                  <span class="middle">x<%=pro.qty %> </span>
                  <span class="last"><%=pro.productId.price  %> </span>
                </a>
              </li>
            </ul>
            <ul class="list list_2">
              <li>
                <a href="#"
                  >Subtotal
                  <span>$2160.00</span>
                </a>
              </li>
              <li>
                <a href="#"
                  >Shipping
                  <span>Flat rate: $50.00</span>
                </a>
              </li>
              <li>
                <a href="#"
                  >Total
                  <span>$2210.00</span>
                </a>
              </li>
            </ul>
                          <% }); %>

            <div class="payment_item">
              <div class="radion_btn">
                <input type="radio" id="f-option" name="selector" />
                <label for="f-option5">Cash on delivary</label>
                <div class="check"></div>
              </div>
            </div>
            <div class="payment_item">
              <div class="radion_btn">
                <input type="radio" id="f-option" name="selector" />
                <label for="f-option6">RazorPAy</label>
                <img src="img/product/single-product/card.jpg" alt="" />
                <div class="check"></div>
              </div>
              <p>
                Please check shipping Address and Product Details Before Place
                Order
              </p>
            </div>
            <div class="creat_account">
              <input type="checkbox" id="f-option4" name="selector" />
              <label for="f-option4">I’ve read and accept the </label>
              <a href="#">terms & conditions*</a>
            </div>
            <a class="btn_3" href="#">Place an Order</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
