<head>
  <script
    src="https://code.jquery.com/jquery-3.6.3.js"
    integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
    crossorigin="anonymous"
  ></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>

<%- include('../partials/user_header.ejs') %>

<div class="slider-area">
  <div class="single-slider slider-height2 d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="hero-cap text-center">
            <h2>Checkout</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="checkout_area section_padding">
  <div class="container">
    <div class="cupon_area">
      <div class="check_title">
        <h2>Have a coupon?</h2>
      </div>
      <input type="text" placeholder="Enter coupon code" />
      <a class="tp_btn" href="#">Apply Coupon</a>
    </div>
    <div class="billing_details">
      <div class="row">
        <div class="col-lg-8">
          <h3>Billing Details</h3>
          
          <form id="checkout_form">
            <% if (add) {%> 
          <% add.address.forEach(function(el) { %>

          <div style="padding-left: 30px; padding-top: 10px" class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-9">
                  <input type="radio" value="<%=el.fName%> <%=el.lName%>,<%=el.mob%>,<%=el.house%>,<%=el.landmark%>,<%=el.city%>,<%=el.state%>,<%=el.district%>,<%=el.pincode%>"

                 id="f-option" name="selector" />

                  <p class="text-muted mb-0">
                    <%=el.fName%> <%=el.lName%>, <%=el.mob%>, <%=el.house%>,
                    <%=el.landmark%> ,<%=el.city%>, <%=el.state%>,
                    <%=el.district%>, <%=el.pincode%>
                  </p>
                </div>
                <hr />
              </div>
            </div>
          </div>

          <% }) %>
          <% } %> 



          <a class="btn_1" href="/addAddress/">ADD ADDRESS</a>

    
        </div>
     


        <div class="col-lg-4">
          <div class="order_box">
            <h2>Your Order</h2>
            <ul class="list">
              <li>
                <a href="#"
                  >Product
                  <span>Total</span>
                </a>
              </li>
              <%user.cart.items.forEach(function(pro,count) {%>

              <li>
                <a 
                  ><%= pro.productId.name%>
                  <span  class="middle">x<%=pro.qty %> </span>
                  <span class="last"><%=pro.productId.price %> </span>
                </a>
              </li>
              <% }); %>
            </ul>

            <ul class="list list_2">
              <li>
                <a 
                  >Subtotal
                  <span>₹<%=user.cart.totalPrice%></span>
                </a>
              </li>
              <li>
                
                <a 
                  >Shipping
                  <span>₹50</span>
                </a>
              </li>
              <li>
                <a href="#"
                  >Total
                  <span>₹<%=user.cart.totalPrice+50%></span>
                </a>
              </li>
            </ul>
            <div>
             



               <div style="padding-top: 10px" class="payment_item">
                  <div
                    style="
                      padding: 0px 25px 21px 25px;
                      height: 14px;
                      z-index: 9;
                      cursor: pointer;
                      font-family: Playfair Display, serif;
                      font-weight: 500;
                      color: #415094;
                      font-size: 13px;
                      letter-spacing: 0.25px;
                      text-transform: uppercase;
                    "
                    class="radion"
                  >
                    <input
                      type="radio"
                      id="f-option"
                      value="COD"
                      name="payment"
                    />
                    <label for="COD">Cash on delivary</label>
                  </div>
                </div>
                <div class="payment_item">
                  <div
                    style="
                      padding: 0px 25px 21px 25px;
                      height: 14px;
                      z-index: 9;
                      cursor: pointer;
                      font-family: Playfair Display, serif;
                      font-weight: 500;
                      color: #415094;
                      font-size: 13px;
                      letter-spacing: 0.25px;
                      text-transform: uppercase;
                    "
                    class="radion"
                  >
                    <input
                      type="radio"
                      id="f-option"
                      value="RAZORPAY"
                      name="payment"
                    />
                    <label for="RazorPay">RazorPay</label>
                  </div>
                  <p>
                    Please check your shipping Address and Product Details Before
                    Place Order
                  </p>
                </div>

                <button class="btn_3" type="submit">Place an Order</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<head>
  <script
    src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
    crossorigin="anonymous"
  ></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
   <script>
    $("#checkout_form").submit((e) => {
      e.preventDefault();
      let op = document.getElementsByClassName("payment_item");
      console.log("nan vannu");
      $.ajax({
        url: "/placeOrder",
        method: "post",
        data: $("#checkout_form").serialize(),
        success: (response) => {
          // alert(response)
          if(response.codSucces){
            console.log('here');
           location.href='/orderPlaced'
          }else{
            razorpayPayment(response)
          console.log("there");    
          console.log(response); 
          }
        },
      });
    });
    function razorpayPayment(order){
    var options = {
    "key": "rzp_test_YtBWIaL5Gbfcit", // Enter the Key ID generated from the Dashboard
    "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Time Zone",
    "description": "Test Transaction",
    "image": "/assets/img/logo/logo.png",
    "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
        // alert(response.razorpay_payment_id);
        // alert(response.razorpay_order_id);
        // alert(response.razorpay_signature)

        verifyPayent(response,order)
    },
    "prefill": {
        "name": "Gaurav Kumar",
        "email": "gaurav.kumar@example.com",
        "contact": "9000090000"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
    };
    var rzp1 = new Razorpay(options);
    rzp1.open();

    }
    function verifyPayent(payment,order){
      $.ajax({
        url:'/veifyPayment',
        data:{
          payment,
          order
        },
        dataType:"json",
        method:'post',
        success:(response)=>{
          if(response.status){
            location.href='/paymentSuccess'
          
          }else{
            
            alert("payment failed")
          }
        }
      })
    }






  </script>
</head>
 