<%- include('../partials/user_header.ejs') %>

<div class="container-fluid">
  <div class="row" style="display: flex; justify-content: center;" >
    <div class="col-lg-10">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">METHOD</th>
            <th scope="col">TOTAL</th>
            <th scope="col">STATUS</th>
            <th style="width: 220px" scope="col">ADDRESS</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <%orde.forEach(function(order,indux){ %>

        <tbody>
          <tr>
            <th scope="row"><%=indux+1%></th>
            <td><%=order.payment%></td>
            <td><%=order.total%></td>
            <td><%=order.status%></td>
            <td><%=order.address%></td>
            <td>
              <a href="viewOrder/<%=order._id%>" class="btn_3">VIEW</a>
              <a href="cancelOrder/<%=order._id%>" class="btn_3">CANCEL</a>
            </td>
          </tr>
        </tbody>
        <%}); %>
      </table>
    </div>
  </div>
</div>
