<%- include('../partials/user_header.ejs') %>
<main>
  <div class="slider-area">
    <div class="single-slider slider-height2 d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="hero-cap text-center">
              <h2>Watch Shop</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="popular-items latest-padding">
    <div class="container">
      <div class="row product-btn justify-content-between mb-40">
        <div class="properties__button">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a
                class="nav-item nav-link active"
                id="nav-home-tab"
                data-toggle="tab"
                href="#nav-home"
                role="tab"
                aria-controls="nav-home"
                aria-selected="true"
                >Categorys</a
              >
              <a
                class="nav-item nav-link"
                id="nav-profile-tab"
                data-toggle="tab"
                href="#nav-profile"
                role="tab"
                aria-controls="nav-profile"
                aria-selected="false"
              >
                Price high to low</a
              >
             
          </nav>
        </div>

        <div class="grid-list-view"></div>

        
      </div>

      <div class="tab-content" id="nav-tabContent">
        <div
          class="tab-pane fade show active"
          id="nav-home"
          role="tabpanel"
          aria-labelledby="nav-home-tab"
        >
          <div class="row">
            <% products.forEach(function(pro) { %>

            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
              <div class="single-popular-items mb-50 text-center">
                <div class="popular-img">
                <a href="/productDetails/<%=pro._id%>">  <img
                  class="img-fluid"
                    src=" <%= pro.img %>"
                    style="width: 360px; height: 380px"
                    alt=""
                  /></a>

                    <a href="addtoCart/<%=pro._id%>" class="btn"  style="
                      font-size: 13px;
                      font-weight: 600;
                      letter-spacing: 0.03em;
                      padding: 23px 134px;
                    " 

                    >Add To cart</a>


                 
                  <div class="favorit-items">
                   <a href="addToWishlist/<%=pro._id%>"> <span class="flaticon-heart"></span></a>
                  </div>
                </div>
                <div class="popular-caption">
                  <h3>
                    <a href="/productDetails/">
                      <%= pro.mfg %> <br />
                      <%= pro.category %> <br />
                      <%= pro.description %>
                    </a>
                  </h3>
                  <span> ₹<%= pro.price %> </span>
                </div>
              </div>
            </div>

            <% }); %>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<%- include('../partials/user_footer.ejs') %>
