<!-- Include a required theme -->
<link rel="stylesheet" href="@sweetalert2/themes/dark/dark.css" />
<script src="sweetalert2/dist/sweetalert2.min.js"></script>

<!-- sweet alert cdn -->
<link
  href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css"
  rel="stylesheet"
/>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>

<script
  src="https://code.jquery.com/jquery-3.6.3.js"
  integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
  crossorigin="anonymous"
></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<%- include('../partials/user_header.ejs') %>
<main>
  <div class="slider-area">
    <div class="single-slider slider-height2 d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="hero-cap text-center">
              <h2>Watch Shop</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="popular-items latest-padding">
    <div class="container">
      <div class="row product-btn justify-content-between mb-40">
        <div class="properties__button">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <!-- <a
                class="nav-item nav-link active"
                id="nav-home-tab"
                href=""
                >Categorys</a
              > -->
              <style>
                .dropbtn {
                  background-color: #04aa6d;
                  color: white;
                  padding: 16px;
                  font-size: 16px;
                  border: none;
                }

                .dropdown {
                  position: relative;
                  display: inline-block;
                }

                .dropdown-content {
                  display: none;
                  position: absolute;
                  background-color: #f1f1f1;
                  min-width: 160px;
                  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                  z-index: 1;
                }

                .dropdown-content a {
                  color: black;
                  padding: 12px 16px;
                  text-decoration: none;
                  display: block;
                }

                .dropdown-content a:hover {
                  background-color: #ddd;
                }

                .dropdown:hover .dropdown-content {
                  display: block;
                }

                .dropdown:hover .dropbtn {
                  background-color: #3e8e41;
                }
              </style>
              <div class="dropdown">
                <button class="dropbtn">Categorys</button>
                <div class="dropdown-content">
                  <% type.forEach(element => { %> <%if(element.access==true){%>
                  <a href="/allProduct?categoryId=<%=element.name%> "
                    ><%= element.name %></a
                  >

                  <%}%> <% }) %>
                </div>
              </div>
              <ul class="dropdown"></ul>
              <a
                class="nav-item nav-link"
                id="nav-profile-tab"
                href="/allProduct?sort=price"
              >
                Price low to high</a
              >
              <form
                class="example"
                action="/allProduct"
                style="margin: auto; margin-right: 15px; max-width: 300px"
              >
                <input
                  type="text"
                  placeholder="Search"
                  name="search"
                  onkeyup="searchIt(this)"
                />
                <button type="submit"><i class="fa fa-search"></i></button>
              </form>
              <link
                rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
              />
              <style>
                body {
                  font-family: Arial;
                }

                * {
                  box-sizing: border-box;
                }

                form.example input[type="text"] {
                  padding: 10px;
                  font-size: 17px;
                  border: 1px solid grey;
                  float: left;
                  width: 80%;
                  background: #f1f1f1;
                }

                form.example button {
                  float: left;
                  width: 20%;
                  padding: 10px;
                  background: #2196f3;
                  color: white;
                  font-size: 17px;
                  border: 1px solid grey;
                  border-left: none;
                  cursor: pointer;
                }

                form.example button:hover {
                  background: #0b7dda;
                }

                form.example::after {
                  content: "";
                  clear: both;
                  display: table;
                }
              </style>
              <!-- </nav> -->
            </div>

            <div class="grid-list-view"></div>

            <!-- </div> -->

            <div class="tab-content" id="nav-tabContent">
              <div
                class="tab-pane fade show active"
                id="nav-home"
                role="tabpanel"
                aria-labelledby="nav-home-tab"
              >
                <div class="row">
                  <% produc.forEach(function(pro) { %> <%if(pro.access==true){%>

                  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                    <div class="single-popular-items mb-50 text-center">
                      <div class="popular-img">
                        <a href="/productDetails/<%=pro._id%>">
                          <img
                            class="img-fluid"
                            src=" <%= pro.img %>"
                            style="width: 360px; height: 380px"
                          />
                        </a>

                        <a
                          href="/addtoCart/<%=pro._id%>"
                          class="btn"
                          style="
                            font-size: 13px;
                            font-weight: 600;
                            letter-spacing: 0.03em;
                            padding: 23px 134px;
                          "
                          >Add To cart</a
                        >

                        <div class="favorit-items">
                          <button style="border: none;background: none;" onclick="addToWishlist('<%= pro._id%>')">
                            <span class="flaticon-heart"></span>
                          </button>
                        </div>
                      </div>
                      <div class="popular-caption">
                        <h3>
                          <a href="/productDetails/">
                            <%= pro.name %> <br />
                            <%= pro.mfg %> <br />
                            <%= pro.category %> <br />
                          </a>
                        </h3>
                        <span> ₹<%= pro.price %> </span>
                      </div>
                    </div>
                  </div>

                  <%}%> <% }); %>
                </div>
              </div>
            </div>

            <%- include('../partials/footer.ejs') %>
          </nav>
        </div>
      </div>
    </div>
  </section>
</main>
<script
  src="https://code.jquery.com/jquery-3.6.3.js"
  integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
  crossorigin="anonymous"
></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<script>
  function searchIt(str) {
    axios
      .get(`http://localhost:3000/allProduct`, {
        params: { search: str },
      })
      .then(function (response) {
        console.log(response.data);
      })
      .catch(function (error) {
        console.error(error);
      });
  }

  const addToWishlist = function (id) {
    console.log(id);
    $.ajax({
      url: "/addToWishlist/" + id,
      method: "get",
      dataType: "json",
      encode: true,
    }).done((data) => {
      if (data) {
        console.log("item added... und.");
        Swal.fire({
          position: "top-end",
          icon: "success",
          title: "Item added to wishlist",
          showConfirmButton: false,
          timer: 1500,
        });
      } else {
        console.log("....");
      }
    });
  };
</script>
